/* ----- GENERAL ----- */

body, html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Source Serif Pro', serif;
    box-sizing: border-box;
}


/* ----- HEADER ----- */

header {
    height: 8vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.logo {
    margin-left: 17vw;
    display: flex;
    align-items: center;
}

section.logo img {
    height: 6vh;
}

section.logo h1 a {
    font-size: 3.5rem;
    text-decoration: none;
    color: black;
}

section.login-menu {
    margin-right: 17vw;
}

header a.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 15px;
    background-color: black;
    border: black solid 2px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header a.btn:hover {
    background-color: white;
    border: black solid 2px;
    color: black;
    transition: ease 0.5s;
}

header a.learn-more {
    background-color: white;
    border: black solid 2px;
    color: black;
}

header a.learn-more:hover {
    background-color: black;
    border: black solid 2px;
    color: white;
    transition: ease 0.5s;
}

/* ----- LANDING PAGE ----- */

main {
    height: 88vh;
    background-color: #C6E3C3;
}

div.main-container {
    margin: 0 auto;
    height: 100%;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.column {
    width: 30vw;
    height: 50%;
    margin: auto 3vh;
    overflow: hidden;
    color: white;
}

div.column p {
    font-size: 2rem;
    text-align: justify;
}

div.column img {
    width: 30vw;
    height: 100%;
}

div.column h3 {
    font-size: 4rem;
}

.login-form {
    width: 30vw;
    margin: auto 3vh;
    color: white;
}

.login-form h2 {
    font-size: 3rem;
}

.login-form p {
    font-size: 1.5rem;
}

.login-form input {
    margin: 10px;
}

/* ----- MAIN PAGE ----- */

div.main_page {
    height: 88vh;
    position: relative;
}

div.sidebar {
    width: 17vw;
    height: 100%;
    background-color: darkslateblue;
    color: white;
    position: fixed;
    top: 8vh;
    left: 0;
}

.sidebar button {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: darkslateblue;
}

.card-body {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: darkslateblue;
}

div.central_page {
    position: relative;
    float: right;
    height: 100%;
    width: 83vw;
    background-color: #6F9BE3;
}

div.central-container {
    margin: 2vh 2vw;
}

.central-container h3 {
    font-size: 3rem;
}

.central-container p, input, ul {
    font-size: 1.5rem;
}

.empl-list table {
    background-color: white;
}

.empl-list th {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
}

div.empl-list td {
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid black;
}

/* ----- FOOTER ----- */

div.main-page {
    height: 88vh;
    background-color: #6F9BE3;
}

div.sidebar {
    height: 100%;
    width: 17vw;
    background-color: darkslateblue;
}

div.central-page {
    height: 100%;
    width: 83vw;
    margin-left: 17vw;
}

/* ----- FOOTER ----- */

footer {
    height: 4vh;
    width: 100%;
    padding-top: 10px;
    background-color: #222;
    color: white;
    font-size: 1.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
    margin: 0 0 0 17vw;
}