{% extends 'main_page.html' %}
{% load static %}
{% block central %}
<div class="empl-list">
    <table>
        <tr>
            <th>ID</th>
            <th>LOGIN</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>CONTRACT TYPE</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>LEVEL</th>
            <th>JOB TITLE</th>
            <th colspan="2">MANAGE EMPLOYEE</th>
            <th colspan="2">MANAGE CONTRACTS</th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td><a href="{% url 'employee_details' employee.id %}">{{ employee.login }}</a></td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                {% for contract in contracts %}
                    {% if contract.employee_id == employee.id %}
                        <td>{{ contract.contract_type }}</td>
                        <td>{{ contract.start_date }}</td>
                        <td>{{ contract.end_date }}</td>
                        <td>{{ contract.position.level }}</td>
                        <td>{{ contract.position.job_title }}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="{% url 'employee_change' employee.id %}">Edit</a></td>
                <td><a href="{% url 'employee_delete' employee.id %}">Delete</a></td>
                <td><a href="{% url 'contract_add' employee.id %} ">Add contract</a></td>
                <td><a href="#">Edit contract</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
