{% extends '__base__.html' %}
{% block main %}
    <div class="main-page">
        <div id="accordion" class="sidebar">
            <div class="card-header">
                <h3>User: {{ user }}</h3>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                            Administrative
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="card-body">
                            <a href="{% url 'employee_add' %}">Create new employee</a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'location_add' %}">Create new location</a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'position_add' %}">Create new position</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Search & Filter
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Reports
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <a href="{% url 'employee_list' %}">All employees</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            Settings
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <a href="#">Account information</a>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'password_change' %}">Password change</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="central_page">
            <div class="central-container">
                {% block central %}
                    {% include 'home.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
